<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Artist modification</title>
    <style>
        .fieldError { color: red; }
    </style>
</head>
<body>
<div class="container">
    <div layout:fragment="content">
        <h1 th:text="|${user.firstname}  ${user.lastname}|">Bob Sull</h1>

        <form th:action="@{/users/{id}/edit(id=${user.id})}" th:object="${user}" th:method="put">
            <div>
                <label>Id:</label>
                <span th:text="${user.id}">1</span>
            </div>
            <div>
                <label>Login:</label>
                <input type="text" th:field="*{login}">
                <p th:if="${#fields.hasErrors('login')}"
                   th:errors="*{login}" th:errorclass="fieldError"></p>
            </div>
            <div>
                <label>Firstname:</label>
                <input type="text" th:field="*{firstname}">
                <p th:if="${#fields.hasErrors('firstname')}"
                   th:errors="*{firstname}" th:errorclass="fieldError"></p>
            </div>
            <div>
                <label>Lastname:</label>
                <input type="text" th:field="*{lastname}">
                <p th:if="${#fields.hasErrors('lastname')}"
                   th:errors="*{lastname}" th:errorclass="fieldError"></p>
            </div>
            <div>
                <label for="role">Role:</label>
                <select id="role" th:field="*{role}">
                    <option th:value="'admin'" th:text="Administrator"></option>
                    <option th:value="'member'" th:text="Member"></option>
                </select>
            </div>
            <div>
                <button type="submit" th:text="Edit">Edit</button>
                <button type="reset" th:text="Reset">Reset</button>
                <a th:href="${back}">Cancel</a>
            </div>
        </form>

        <nav><a th:href="@{/users}">Back to the List</a></nav>
    </div>
</div>
</body>
</html>
