<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Artist creation</title>
    <style>
        .fieldError { color: red; }
    </style>
</head>
<body>
<div class="container">
    <div layout:fragment="content">

        <form class="mb-3" th:action="@{/register}" th:object="${user}" method="post">
            <div>
                <label class="form-label" for="firstname">Firstname:</label>
                <input class="form-control" id="firstname" type="text" th:field="*{firstname}">
                <p th:if="${#fields.hasErrors('firstname')}"
                   th:errors="*{firstname}" th:errorclass="fieldError"></p>
            </div>
            <div>
                <label class="form-label" for="lastname">Lastname:</label>
                <input class="form-control" id="lastname" type="text" th:field="*{lastname}">
                <p th:if="${#fields.hasErrors('lastname')}"
                   th:errors="*{lastname}" th:errorclass="fieldError"></p>
            </div>
            <div>
                <label class="form-label" for="email">Email:</label>
                <input class="form-control" id="email" type="email" th:field="*{email}">
                <p th:if="${#fields.hasErrors('email')}"
                   th:errors="*{email}" th:errorclass="fieldError"></p>
            </div>
            <div>
                <label class="form-label" for="language">Role:</label>
                <select class="form-select" id="language" th:field="*{language}">
                    <option th:value="'FR'" th:text="Français"></option>
                    <option th:value="'EN'" th:text="English"></option>
                </select>
            </div>
            <div>
                <label class="form-label" for="login">Login:</label>
                <input class="form-control" id="login" type="text" th:field="*{login}">
                <p th:if="${#fields.hasErrors('login')}"
                   th:errors="*{login}" th:errorclass="fieldError"></p>
            </div>
            <div>
                <label class="form-label" for="password">Password:</label>
                <input class="form-control" id="password" type="password" th:field="*{password}">
                <p th:if="${#fields.hasErrors('password')}"
                   th:errors="*{password}" th:errorclass="fieldError"></p>
            </div>
            <div>
                <button class="btn btn-primary" type="submit" th:text="Create">Create</button>
                <a class="btn btn-danger" href="#" th:href="${back}">Cancel</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
