<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>User Details</title>
</head>
<body>
<div class="container">
    <div class="mb-3" layout:fragment="content">
        <h1 th:text="|${user.firstname}  ${user.lastname}|">Bob Sull</h1>
        <h2 th:text="${user.role}">role</h2>

        <div class="btn-group" role="group">
            <a class="btn btn-primary" th:href="@{/users/{id}/edit(id=${user.id})}">Edit</a>
            <form th:id="|deleteForm-${user.id}|"
                  th:action="@{/users/{id}(id=${user.id})}" th:method="delete">
                <a class="btn btn-danger" href="#" th:onclick="|if(confirm('Confirm delete user #${user.id}'))
                 		document.getElementById('deleteForm-${user.id}').submit();
                 		return false;|">Delete</a>
            </form>

        </div>

        <nav><a class="btn btn-secondary" th:href="@{/users}">Back to the List</a></nav>
    </div>
</div>
</body>
</html>
