<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Artist creation</title>
    <style>
        .fieldError { color: red; }
    </style>
</head>
<body>
<div class="container">
    <div layout:fragment="content">
        <h1 th:text="|${artist.firstname}  ${artist.lastname}|">Bob Sull</h1>

        <form th:action="@{/artists/create}" th:object="${artist}" method="post">
            <div>
                <label>Firstname:</label>
                <input type="text" th:field="*{firstname}">
                <p th:if="${#fields.hasErrors('firstname')}"
                   th:errors="*{firstname}" th:errorclass="fieldError"></p>
            </div>
            <div>
                <label>Lastname:</label>
                <input type="text" th:field="*{lastname}">
                <p th:if="${#fields.hasErrors('lastname')}"
                   th:errors="*{lastname}" th:errorclass="fieldError"></p>
            </div>
            <div>
                <button type="submit" th:text="Add">Add</button>
                <a th:href="${back}">Cancel</a>
            </div>
        </form>

        <nav><a th:href="@{/artists}">Back to the List</a></nav>
    </div>
</div>
</body>
</html>
