<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/main}">
<head>
    <title>Liste des artistes</title>
</head>
<body>
<div class="container">
    <div layout:fragment="content">
        <h1 th:text="${title}">List of Artists</h1>

        <table th:unless="${#lists.isEmpty(artists)}">
            <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th sec:authorize="isAuthenticated()" colspan="3">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="artist : ${artists}">
                <td th:text="${artist.firstname}">Bob</td>
                <td th:text="${artist.lastname}">Sull</td>
                <td>
                    <a sec:authorize="isAuthenticated()" th:href="@{/artists/{id}(id=${artist.id})}">View</a>
                </td>
                <td>
                    <a sec:authorize="hasRole('admin')" th:href="@{/artists/{id}/edit(id=${artist.id})}">Edit</a>
                </td>
                <td>
                    <form sec:authorize="hasRole('admin')" th:id="|deleteForm-${artist.id}|"
                          th:action="@{/artists/{id}(id=${artist.id})}" th:method="delete">
                        <a href="#"
                           th:onclick="|if(confirm('Confirm delete artist #${artist.id}'))
	                    		document.getElementById('deleteForm-${artist.id}').submit();
	                    		return false;|">Delete</a>
                    </form>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
